@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.App {
  text-align: center;
}

#title{
  font-family: 'Staatliches', cursive;
}
.search{
  width: 400px;
  margin: auto;
}