@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  border: border-box;
  margin: 0; 
}

body {
  background: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1018473934%2F0x0.jpg%3Ffit%3Dscale);
  background-repeat: no-repeat;
  background-size: cover;
}

#heading, #title, .table, #loadingQuote {
  text-align: center;
}
#heading {
  color:rgb(22, 230, 230); 
  font-weight:lighter;
}
#title{
  font-family: 'Staatliches', cursive;
}

.container{
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  margin-top:20px;
  margin-bottom: 20px;
}
ul {
  margin-right: 10px;
}
li {
  margin-right: 10px;
}

